<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQC17hUVdGWqAzX1PI59BfCgx5pPych4I</string>
	<key>GCM_SENDER_ID</key>
	<string>643639209344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp12e4.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>techsolver-2ef90</string>
	<key>STORAGE_BUCKET</key>
	<string>techsolver-2ef90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643639209344:ios:cadf143b856d14ba00e565</string>
</dict>
</plist>